.header-panel {
    margin-bottom: 20px;
    background-size: contain;
    position: relative;
    z-index: 3;
    h1 {
        bottom: 10px;
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        padding-left: 35px;
        position: absolute;
    }
}
.active{
  border-bottom: 1px solid white;
}
body,
html {
    width: 340px;
    height: 480px;
}
.pages {
    z-index: 4;
}
body {}
.navbar-brand {
    font-size: 15px !important;
}
