body {
    width: 240px !important;
    height: 240px !important;
    background-color: #ebebeb;
}

#login {
    background-image: url(../img/backdrop2.jpg);
    background-position: center;
}

.img-responsive {
    margin-left: 50px !important;
}

.loginButton,
.signupButton {
    margin-left: 15px;
    width: 180px;
}

#footer {
    width: 100%;
    height: 10px;
}

#footer > a {
    float: right;
    font-size: smaller;
}