<div ng-repeat="banndedUrls2  in lists |  unique:'url'">
  <div class="card" style="margin-bottom:20px;">

    <div class="card-body">
      <h2 class="">{{banndedUrls2.url}}</h2>

      <p> This is {{banndedUrls2.type}}listed</p>
    </div>
    <footer class="card-footer">
      <a id="{{banndedUrls2.url}}" data-ng-click="deleteBlackOrWhite($index,$event)" class="btn btn-flat">Remove</a>
    </footer>
  </div>

</div>





<div class="card" style="margin-bottom:20px;">

    <div class="card-body">

  <form id="ddd" name="ddddd" ng-submit="addBlackOrWhite()">



    <input type="text" class="form-control" id="dd" name="blackorwhiteInputs" placeholder="www.example.ie" required>
    <select name="typeee" class="form-control">
      <option value="black">Blacklist</option>
      <option value="white">Whitelist</option>
    </select>

    <button type="submit" style="float:right;" class="btn btn-primary ">Add</button>


  </form>
</div>
</div>
