
<div class="well pages slideDown">
    <form class="form-horizontal" id="login" ng-submit="login()">
    <div ng-show="showError">
        <div ng-include src="'assets/view/error.html'"></div>
    </div>
    <fieldset>
        <div class="form-group">
            <div class="col-md-12">
                <label for="inputEmail" class="control-label">Email</label>
                <input type="text" class="form-control" id="inputEmail" name="loginemail" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label for="inputEmail" class="control-label">Password</label>
                <input type="password" class="form-control" id="inputPassword" name="loginpassword" placeholder="*******">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
        <a href="signup" class="btn btn-raised btn-link" style="
    box-shadow: none;
">signup</a>
          <button type="submit" style="float:right;" class="btn btn-primary">Login</button>
      </div>
          
        </div>
    </fieldset>
</form>
</div>
