<div id="clouds">
	<div class="cloud x1"></div>
	<!-- Time for multiple clouds to dance around -->
	<div class="cloud x2"></div>
	<div class="cloud x3"></div>
	<div class="cloud x4"></div>
	<div class="cloud x5"></div>
</div>
<div class="card">

  <div class="card-height-indicator"></div>
  <form class="form-horizontal" id="login" ng-submit="login()">
    <div class="card-content">

      <div class="card-body" style="height: 90%;">

        <input type="text" style="margin-bottom: 35px;margin-top: 3.9em;" class="form-control" id="inputEmail" name="loginemail" placeholder="Email">
        <input type="password" style="margin-bottom: 2.6em;" class="form-control" id="inputPassword" name="loginpassword" placeholder="*******">
        <button type="submit" style="margin-bottom: 0.6em; width:100%;"  class="btn btn-raised  btn-info">Login</button>
        <div class="other">
          <a  style="text-align:center;" href="signup">signup</a>
        </div>
      </div>

      <footer class="card-footer">
        <div ng-show="showError">
          <div ng-include src="'assets/view/error.html'"></div>
        </div>

      </footer>

    </div>
  </form>
</div>
