<div data-ng-repeat="children  in child |  unique:'name'">
    <div class="card slideDown" style="height: 440px;">
        <div class="card-content">
            <div class="withRipples" style=" margin-left: 5px;
    margin-top: 5px;
    padding: 10px; position: absolute;z-index: 200;"><a href="/index.html"><i class="material-icons">&#xE317;</i></a></div>

            <div class="card-image" style="height: 230px; margin-top:0px;border-bottom:2px solid {{children.color}};">

                <i class="material-icons" style="color:{{children.color}};font-size: 11.1em;width: 310px;margin-top:10px;text-align: center;">&#xE815;</i>

                <h3  style="color:{{children.color}};" class="card-image-headline">{{children.name}} </h3>
            </div>
            <div class="card-body" style="height:170px">
                <p><b>Date:</b> {{ children.date }} </p>
                <p><b>Time:</b> {{children.time}}</p>
                <p><b>Platform:</b> {{children.platform}}</p>
                <p><b>Status:</b> {{children.status}}</p>
                <p><b>Just Searched: </b> <a target="_blank" ng:href="https://duckduckgo.com/?q={{children.currentUrl}}">{{children.currentUrl}}</a></p>
            </div>

            <footer class="card-footer" style="height: 50px;">

                <div ng-show="children.stop == 'no'"><a class="btn btn-default btn-block" style="margin-top:-15px;" id="{{children.id}}" data-ng-click="startInternetChild($index,$event)">start</a></div>
                <div ng-show="children.stop == 'yes'"><a class="btn btn-default btn-block " style="margin-top:-15px;" id="{{children.id}}" data-ng-click="stopInternetChild($index,$event)">Stop</a></div>
            </footer>
        </div>
    </div>
</div>
