<div class="card">

  <div class="card-height-indicator"></div>

  <div class="card-content">



    <div class="card-body">
      <h3>Theme</h3>
      <p>Pick a Color that you like
      <i class="material-icons" style="color: #C0392B;    font-size: 1.2em;">&#xE87D;</i></p>

          <ul id="pick_colors">
            <li><span class="colors" id="_7F8C8D" ng-click="setColor('#7F8C8D')"><span ng-if="theme === '#7F8C8D'"><i class="mdi-action-done"></i> </span></span>
            </li>

            <li><span class="colors" id="_95A5A6" ng-click="setColor('#95A5A6')"><span ng-if="theme === '#95A5A6'"><i class="mdi-action-done"></i> </span></span>
            </li>

            <li><span class="colors" id="_BDC3C7" ng-click="setColor('#BDC3C7')"><span ng-if="theme === '#BDC3C7'"><i class="mdi-action-done"></i> </span></span>
            </li>

            <li><span class="colors" id="_C0392B" ng-click="setColor('#C0392B')"><span ng-if="theme === '#C0392B'"><i class="mdi-action-done"></i> </span></span>
            </li>

            <li><span class="colors" id="_E74C3C" ng-click="setColor('#E74C3C')"><span ng-if="theme === '#E74C3C'"><i class="mdi-action-done"></i> </span></span>
            </li>

            <li><span class="colors" id="_F39C12" ng-click="setColor('#F39C12')"><span ng-if="theme === '#F39C12'"><i class="mdi-action-done"></i> </span></span>
            </li>

            <li><span class="colors" id="_F1C40F" ng-click="setColor('#F1C40F')"><span ng-if="theme === '#F1C40F'"><i class="mdi-action-done"></i> </span></span>
            </li>

            <li><span class="colors" id="_8E44AD" ng-click="setColor('#8E44AD')"><span ng-if="theme === '#8E44AD'"><i class="mdi-action-done"></i> </span></span>
            </li>

            <li><span class="colors" id="_CA2C68" ng-click="setColor('#CA2C68')"><span ng-if="theme === '#CA2C68'"><i class="mdi-action-done"></i> </span></span>
            </li>

            <li><span class="colors" id="_EA4C88" ng-click="setColor('#EA4C88')"><span ng-if="theme === '#EA4C88'"><i class="mdi-action-done"></i> </span></span>
            </li>

            <li><span class="colors" id="_2C3E50" ng-click="setColor('#2C3E50')"><span ng-if="theme === '#2C3E50'"><i class="mdi-action-done"></i> </span></span>
            </li>

            <li><span class="colors" id="_2980B9" ng-click="setColor('#2980B9')"><span ng-if="theme === '#2980B9'"><i class="mdi-action-done"></i> </span></span>
            </li>

            <li><span class="colors" id="_3498DB" ng-click="setColor('#3498DB')"><span ng-if="theme === '#3498DB'"><i class="mdi-action-done"></i> </span></span>
            </li>

            <li><span class="colors" id="_27AE60" ng-click="setColor('#27AE60')"><span ng-if="theme === '#27AE60'"><i class="mdi-action-done"></i> </span></span>
            </li>

            <li><span class="colors" id="_16A085" ng-click="setColor('#16A085')"><span ng-if="theme === '#16A085'"><i class="mdi-action-done"></i> </span></span>
            </li>

          </ul>

    </div>

    <footer class="card-footer">

    </footer>

  </div>

</div>
<div class="card">

  <div class="card-height-indicator"></div>

  <div class="card-content">

    <div class="card-body">
      <h3>List of Profanity Words</h3>
      <p>These are the words, that we classed as profanity. Its always changing!!</p>

      <ul ng-repeat="profanity2  in profanity ">
        <li>{{profanity2.word}}</li>
      </ul>
    </div>

    <footer class="card-footer">

    </footer>

  </div>

</div>
