<!DOCTYPE html>
<html>

<head>
    <title>Robin</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link href="/assets/dist/css/popup.css" rel="stylesheet">
    <!-- Mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Material Design fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Css Animation -->
    <link href="http://justinaguilar.com/animations/css/animations.css" rel="stylesheet">
    <script src="assets/dist/js/angular.min.js"></script>
    <script src="assets/dist/js/angular-chrome-storage.min.js"></script>
    <script src="assets/js/core.js"></script>
</head>

<body>
    <div class="navbar navbar-default" style="margin-bottom:0px">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="javascript:void(0)">Robin</a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://twitter.com/Wobert_Gabriel">Twitter</a></li>
                    <li><a href="https://ie.linkedin.com/in/robertjamesgabrieL">Linkedin</a></li>
                    <li><a href="https://github.com/RobertJGabriel">Github</a></li>
                    <li><a href="http://www.projectbird.com">Projectbird</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-panel">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-3">

                </div>
            </div>
        </div>
    </div>
    <div class="container ">
        <div class="row">
            <div class="col-md-4 col-xs-4 col-sm-4">

            </div>
            <div class="col-md-4 col-xs-4 col-sm-4  well pages">

                <h3>Sign up </h3>
                <br>
                <br>
                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group">

                            <div class="col-md-12">
                                <label for="inputEmail" class="control-label">First Name </label>
                                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="inputEmail" class="control-label">Last Name </label>
                                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="inputEmail" class="control-label">Email</label>
                                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="inputPassword" class="control-label">Password</label>
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" style="float:right;" class="btn btn-primary">Submit</button>
                        </div>
                    </fieldset>
                </form>

                <div class="row">
                    <hr>
                    <div class="col-sm-12">
                        <p class="small">© Copyright 2016 Projectbird</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4">

            </div>

        </div>
    </div>


    <script src="assets/dist/js/jquery.min.js"></script>
    <script src="assets/dist/js/bootstrap.min.js"></script>
    <script src="assets/dist/js/ripples.min.js"></script>
    <script src="assets/dist/js/material.min.js"></script>
    <script src="assets/dist/js/start.min.js"></script>
</body>

</html>