





<div class="card">

  <div class="card-height-indicator"></div>
  <form class="form-horizontal" id="signup" name="signupForm" ng-submit="signup()">
    <div class="card-content">



      <div class="card-body" style="height: 90%;">
        <h3 style="    padding-bottom: 10px;">Signup</h3>
        <div ng-show="showError">
          <div ng-include src="'assets/view/error.html'"></div>
        </div>
        <label for="inputEmail" class="control-label">Email </label>
        <input type="text" class="form-control" id="inputEmail" name="signupemail" placeholder="Email">


        <label for="inputEmail" class="control-label">Password</label>
        <input type="password" class="form-control" id="inputPassword" name="signuppassword" placeholder="*******">


      </div>

      <footer class="card-footer">

        <button class="btn btn-flat"><a href="login" style="box-shadow: none;">login</a></button>
        <button type="submit" style="float: right;" class="btn btn-flat btn-warning">Signup</button>
      </footer>

    </div>
  </form>
</div>
